@import url('https://fonts.googleapis.com/css?family=Poppins');

   body {
     font-family: 'Poppins';
   }
   header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    flex-direction: row;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    
    width: 600px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npm {
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo {
  width: 50px;
   margin-right: 1em;
}
.search-box {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}
.search-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 10px;
}
.magnifying-glass {
  position: absolute;
  left: 10px;
  height: 20px;
}
.join {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: black
}

  .trianglehexagon {
    width: 200px;
    margin-right: 2rem;
  }
h1 {
    color: rgb(74, 39, 199); 
    text-decoration: underline; 
   }
   
   p {
     font-size: 18px;
     width: 400px;
     text-indent: 50px;
     text-align: justify;
   }
   .yellow-box {
    background-color: rgb(252, 241, 143);
  }
   
   